@import "tailwindcss";


body{
  background-color: #F9F9F9;
  color: #363636;
  margin: 0;
  padding: 0;
}

.backdrop{
  backdrop-filter: blur(3px);
}

nav{
  padding: 30 0
}

hr{
  width: 50%;
  color: #363636;
  margin: auto;
}

h1{
  text-align: center;
  font-weight: bold;
  font-size: x-large;
  padding: 0.5em 0;
}

